{
  "api": {
    "port": "8085"
  },
  "grpc": {
    "port": "50055"
  },
  "grpc_client": {
    "host": "service_b:50055"
  },
  "temperature" : {
    "url": "https://api.weatherapi.com",
    "api_key": ""
  },
  "cep": {
    "url": "https://viacep.com.br"
  },
  "zipkin": {
    "host": "zipkin_svc:9411"
  },
  "otel": {
    "host": ""
  }
}
