{
  "service_a": {
    "port": "8085"
  },
  "service_b": {
    "port": "50055",
    "host": "service_b:50055"
  },
  "temperature" : {
    "url": "https://api.weatherapi.com",
    "api_key": ""
  },
  "cep": {
    "url": "https://viacep.com.br"
  },
  "zipkin": {
    "host": "zipkin_svc:9411",
    "endpoint": "http://zipkin_svc:9411/api/v2/spans"
  }
}
